modules = ["python-3.12", "web"]
run = "python manage.py runserver 0.0.0.0:3000"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 23073448

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:3000"

[deployment]
run = ["sh", "-c", "gunicorn gamertron.wsgi:application --bind 0.0.0.0:3000"]

[[ports]]
localPort = 3000
externalPort = 80
