<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load filters %}
<head>
    <title>Sats-Man Scoreboard</title>
    <meta http-equiv="refresh" content="2">
    <link rel="stylesheet" href="{% static 'satsmanscoreboard/css/scoreboard.css' %}">
    <script src="{% static 'satsmanscoreboard/javascript/google-analytics.js' %}""></script>
</head>
<body>
<p align="center">
  <span><a href="lightning:lnurl1dp68gurn8ghj7ctsdyh85etzv4jx2efwd9hj7a3s9aex2ut4v4ehgttnw3shg6tr943ksctjvajhxte5xymk2cnrvvcz6cfsxcmj6dp4x3jj6cnz89jz6vpkv4jkxvmzve3nzd35x92n7t"><img src="{% static 'satsmanscoreboard/images/zbd-lnurl.png' %}" alt="ZBD LNURL" width="200" height="200"></a></span>    <span><a href="https://sites.google.com/nathanday.net/gamertron/sats-man" target="_blank"><img src="{% static 'satsmanscoreboard/images/sats-man-logo.png' %}" alt="Sats-Man Logo"></a></span>    <span><a href="http://gamertron.net" target="_blank"><img src="{% static 'satsmanscoreboard/images/gamertron-logo.jpg' %}" alt="Gamertron Logo" width="200" height="200"></a></span>
</p>

<h2 align="center"><a href="/satsman-game" target="_blank">Play Sats-Man</a></h2>
<p align="center"><a href="/satsman-scoreboard/top/5">All Time Top 5</a> | <a href="/satsman-scoreboard/top/10">All Time Top 10</a> | <a href="/satsman-scoreboard/all">All Scores Ever</a> | <a href="/satsman-scoreboard/date/{{current_year}}/{{last_week}}">All Last Week</a> | <a href="/satsman-scoreboard/date/{{current_year}}/{{current_week}}">All Current Week</a></p>
<h1 align="center">{{title}}</h1>
<h1 align="center">{{prize}}</h1>
<h2 align="center">1 point = 1 ticket in the end of conference prizedraw</h2>
<table align="center">
  <tr>
    <th>Position</th>
    <th>Score</th>
    <th>Nostr npub/nip-05</th>
    <th>LN Address</th>
    <th>Twitter Handle</th>
    <th>Date (UTC)</th>
  </tr>
  {% for Score in score_list %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td align="right">{{Score.score_value|pretty_score}}</td>
    <td align="center">
      {% if Score.nip05 %}
      <a href="https://snort.social/p/{{Score.nip05}}" target="_blank">{{Score.nip05}}</a>
      {% elif Score.npub %}
      <a href="https://snort.social/p/{{Score.npub}}" target="_blank">{{Score.npub|nostr_short}}</a>
      {% endif %}
    </td>
    <td align="center"><a href="lightning:{{Score.ln_address}}" target="_blank">{{Score.ln_address}}</a></td>
    <td align="center">
      {% if Score.twitter_handle %}
        <a href="https://twitter.com/{{Score.twitter_handle}}" target="_blank">@{{Score.twitter_handle}}</a></td>
      {% else %}
      {% endif %}
    </td>
    <td>{{Score.score_date}}</td>
  </tr>
  {% endfor %}
</table>
</body>
</html>
