table, th, td
{
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
  font-size: 16px;
  color:yellow;
  font-family: Arial, Helvetica, sans-serif;
}

body
{
  background-color:black;
}

h1, h2, p, div
{
  color:yellow;
  white-space: pre;
  font-family: Arial, Helvetica, sans-serif;
}

/* unvisited link */
a:link {
  color: yellow;
}

/* visited link */
a:visited {
  color: yellow;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: red;
}